@charset "utf-8";

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: lightgray;
	font: 14px/18px Tahoma, Arial, sans-serif;
}

.container {
	width: 80%;
	margin: 30px auto;
	overflow: hidden;
}

h1 {
	padding-bottom: 20px;
	margin-bottom: 40px;
	border-bottom: 1px #d9d9d9 solid;

	line-height: 1;
	font-weight: normal;
	color: #666666;
}

p {
	padding-bottom: 10px;
	color: #666666;
}

.btn {
	height: 40px;
	padding: 0 20px;
	border: none;
	float: left;
	border-radius: 10px;
	background: #8cce4d;
	cursor: pointer;
	font: 14px/18px Tahoma, Arial, sans-serif;
	color: #436013;
}

.output {
	/* display: inline-block; */
	width: 140px;
	height: 40px;
	padding: 0 20px;
	margin-left: 20px;
	float: left;
	border-radius: 10px;
	background: #a4d5ff;

	display: flex;
	justify-content: center;
	align-items: center;

	font: 14px/18px Tahoma, Arial, sans-serif;
	text-align: center;
	color: #666666;
}
